div {
  margin: 25px 0;
}

h1 {
  font-size: 18px;
  text-align: center;
  margin: 10px 0;
}

ul::-webkit-scrollbar {
  width: 10px;
}

ul::-webkit-scrollbar-track {
  background-color: #000;
}

ul::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  border: 2px solid #f1f1f1;
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: scroll;
  margin-bottom: 40px;
}

li {
  padding: 5px 0;
  text-align: center;
}

a {
  color: rgba(150, 150, 150, 0.5);
  text-decoration: none;
}

li:hover {
  background-color: rgba(150, 150, 150, 0.5);
  cursor: pointer;
}

li:hover a {
  color: white;
}
